.wrapper{
    width: 100%;
    overflow-y: scroll;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.products{
    margin: 0 30px 0 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.title{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.03em;
    color: #000000;
}
.scrollButton{
    margin: 20px;
    align-self: self-end;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    font-weight: 900;
    color: white;
    background: #339933;
}
@media (max-width: 767px){
    .products{
        margin: 0 20px 0 20px;
        grid-template-columns: repeat(4, 1fr);

    }
    .title{
        margin: 30px ;
        font-size: 30px;
    }
}

@media (max-width: 520px){
    .products{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .title{
        margin: 10px 0 20px 20px;
        font-size: 25px;
    }
}