.wrapper{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0 30px 30px 30px;
}
.filter_price, .discount, .sort, .filter_title{
    display: flex;
    align-items: center;
    gap: 15px;
}
.filter_price input{
    width: 70px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 18px;
}
.filter_price button{
    width: 40px;
    height: 43px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #000000;  
}
 
.filter_price button:active{
    background-color: #339933;;
    transition: 3ms;
    /* border: 1px solid #4CAF50; */
    border: none;
    color: #fff;
}

.filter_price input::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #ACACAC;
}
.filter_price input::-webkit-outer-spin-button,
.filter_price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter_price_title,  .sort_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #000000;
}
.filter_title{
    flex-direction: row;
    
}
.filter_title input{
    display: flex;
    align-items: center;
    padding-left: 15px;
    /* margin-left: 10px; */
    width: 150px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 18px;
    color: #000;
}
.filter_title input::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #ACACAC;
}
.custom_checkbox{
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    margin: 0;
    border-radius:7px;
    appearance: none;
    outline: none;
    position: relative;
    background-color: #fff;
}

.checkbox_label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #000000;
    border-radius: 7px;
  }
.sort{
    border-radius: 7px;
}
.sort select{
    width: 160px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-family: 'Montserrat';
    padding-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #797979;
}
  
  .custom_checkbox:checked {
    background-color:#339933;
    border: none;
  }
  

.custom_checkbox:checked:after {
    content: '✓';
    font-size: 28px;
    position: absolute;
    top: 1%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    /* width: 0;
    height: 0; */
    color: #fff;
  }
  

  @media (max-width: 768px){
    .wrapper{
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-self: start;
        gap: 10px;  
    }
    .discount:nth-child(4),
    .sort:nth-child(3){
        grid-column: span 1;
    }
    .filter_price input{
        height: 30px;
    }
    .filter_price button{
        width: 30px;
        height: 32px;
        font-size: 17px;
    }
    .filter_price input::placeholder{
        font-size: 14px;
    }
    .filter_price_title,  .sort_title{
        font-size: 18px;
    }
    .filter_title input{
        height: 30px;
        font-size: 16px;
    }
    .filter_title input::placeholder{
        font-size: 14px;
    }
    .custom_checkbox{
        width: 30px;
        height: 30px;
        
    }
    .checkbox_label {
        font-size: 18px;
    }
    .custom_checkbox:checked:after { 
        font-size: 20px;
    }
    .sort select{
        width: 90px;
        height: 30px;
        font-size: 14px;
        padding-left: 5px;
    }
    
  }
  
  @media (max-width: 520px){
    .filter_price, .discount, .sort{
        gap: 10px;
    }
    .filter_price input{
        height: 26px;
    }
    .filter_price button{
        height: 30px;
        font-size: 15px;
    }
    .filter_price input::placeholder{
        font-size: 12px;
    }
    .filter_price_title,  .sort_title{
        font-size: 12px;
    }
    .filter_title input{
        height: 26px;
        font-size: 14px;
    }
    .filter_title input::placeholder{
        font-size: 12px;
    }
    .checkbox_label {
        font-size: 12px;
    }
    .sort select{
        font-size: 12px;
        padding-left: 5px;
    }
  }
  