.wrapper{
    width: 100%;
    margin-left: 30px;
    
}
.block_btns{
    /* height: 200px; */
    display: flex;
    align-items: center;
} 
.title{
    margin-left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
}
.sale_btn{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;

    background: #b9f5be30;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 100px;
}
.sale_btn a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 7px;
    color: #8B8B8B;
    text-decoration: none;
}


.block_items{
    padding-bottom: 30px;
    display: grid;
    /* justify-content: center; */
    /* margin-top: 20px; */
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    /* justify-content: flex-start; */
    /* justify-self: start; */
    gap: 20px;
    
}
@media (max-width: 767px){
    .wrapper{
        margin-left: 10px;
        margin-right: 10px;
    }
    .block_items{
        gap: 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 520px){
    .block_btns{
        height: 100px;
    } 
    .title{
        margin-left: 20px;
        font-size: 30px;
    }
    .wrapper{
        margin: 0;
        /* height: 300px; */
    }
    .block_items{
        gap: 10px;
        justify-items: center;
    }
}