.container{
    margin: 0 auto 30px;
    /* width: 1345px; */
    width: calc(100% - 60px);
    height: 250px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
